* {
    box-sizing: border-box;
}
  

.pagina_privada {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 10px;
}

.navbar-privada {
    width: 100%;
    height: 100%;
}

.contenido {
    display: grid;
    grid-template-rows: 1fr 15fr;
}

.contenido_privado {
    /* height: 100%; */
    background-color: rgb(214, 214, 214);
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 0;
}

.contenido_privado .contadores_tabla {
    display: grid;
    grid-template-rows: 5fr 12fr;
    gap: 10px;
}

.contenido_privado .calendario-grafico {
    background-color: rgb(214, 214, 214);
}

.contadores_tabla .contadores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.contadores_tabla .tabla {
    background-color: rgb(214, 214, 214);
}

.contadores .ventas {
    background-color: aquamarine;

}

.contadores_tabla .tabla {
    padding: 20px;
}

.contadores_tabla .tabla-dashboard {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;

}

.calendario-grafico {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.calendario-grafico .calendario {
    background-color: rgb(214, 214, 214);
}



.navbar-privada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo p {
    margin: auto;
    font-weight: 600;
    color: rgb(26, 26, 26);
}

.logo img {
    width: 50px;
}

.estadisticas-button {}

.estadisticas-button button {
    padding: 10px 50px;
    border: none;
    background-color: #A8D300;
    border-radius: 6px;
    transition: all 300ms ease;
}

.estadisticas-button button:hover {
    background-color: #99bb10;
}


.enlace-nav {
    display: flex;
    gap: 13px;
    margin-bottom: 20px;
    align-items: center;
    padding: 10px 25px;
    cursor: pointer;
}

.enlace-nav:hover {
    background-color: rgb(221, 220, 220);
    border-radius: 5px;
}



.logout {
    margin-bottom: 100px;
}

.logout button {
    padding: 10px 60px;
    border: none;
    background-color: #7EB2FE;
    border-radius: 6px;
    transition: all 300ms ease;
}




.usuario_notificaciones-nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}

.directorio h3 {
    color: black;
    font-size: 20px;
    margin: 0;
}

.profile-cuenta {
    display: flex;
    align-items: center;

}


.profile-cuenta div:first-child span {
    font-size: 30px;
    margin-right: 50px;
}

.profile-cuenta div:nth-child(2) span {
    font-size: 40px;
    margin-right: 10px;
}

.profile-cuenta div:last-child span {
    margin-top: 3px;
    margin-right: 40px;
}


.profile-cuenta a {
    color: rgb(46, 46, 46);
}

.contadores .ventas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
}

.ventas div {
    padding: 33px;
    margin-left: 10px;
}

.contadores .ventas p {
    margin: 0;
}

.contadores .ventas span {
    font-size: 45px;
}

.ventas div .tipo-venta {
    font-size: 18px;
    margin: 15px 0 13px 0;
    color: rgb(64, 64, 64);
}

.ventas div .cantidad {
    font-size: 25px;
    font-weight: 600;
    color: rgb(64, 64, 64);
}

.tabla-dashboard {
    overflow-y: scroll;
    max-height: 573px;
}





/*calendario
///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////

*/

.calendario-grafico {
    background-color: red;
}

.calendario-grafico .calendario {
    background-color: white;
}

.wrapper {
    margin-top: -7px;
}

.calendario {
    max-height: 400px;
    max-width: 400px;
    border-radius: 10px;

}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .icons {
    display: flex;
    margin-top: -15px;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar {
    /* padding: 20px; */
    margin-left: -25px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .days .li {
    margin: -10px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
    /* margin: 0 -2px; */
}

.days {
    margin-top: -15px;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    /* margin-right: 10px; */
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #9B59B6;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}


/*chart
/////////////////////////////////////////////////////////////////
V/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

*/

.chart {}

.graphBox {}

.calendario-grafico .chart {
    background-color: rgb(214, 214, 214);
}

#my-chart.area {
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
}



.main-container {
    background: #444e80;
    color: #abafc6;
    border-radius: 5px;
    padding: 20px;
    max-width: 380px;
    height: 350px;
}

.year-stats {
    white-space: nowrap;
    max-height: 170px;
    overflow: hidden;
    max-width: 350px;
}

.year-stats:hover {
    overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
    height: 5px;
    width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #abafc6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #5397d6;
}

.month-group {
    cursor: pointer;
    max-width: 400px;
    height: 110px;
    margin: 10px;
    display: inline-block;
}

.bar {
    background-color: #abafc6;
    width: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.month-group:hover .bar,
.selected .bar {
    background: #5397d6;
}

.month-group:hover p,
.selected p {
    color: #fff;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

.stats-info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.graph-container {
    position: relative;
}

.percent {
    display: block;
    width: 120px;
    height: 120px;
}

.circle {
    stroke: #915db1;
    fill: none;
    stroke-width: 3;
}

.circle:nth-child(2) {
    stroke: #e59f3c;
}

.circle:nth-child(3) {
    stroke: #5397d6;
}

.circle:nth-child(4) {
    stroke: #4cc790;
}

.graph-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.info p {
    margin-bottom: 10px;
}

.info span {
    color: #fff;
}


/*
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
    PRODUCTOS
*/

.contenido_privado-productos {
    background-color: rgb(214, 214, 214);
    display: grid;
    grid-template-rows: 1.6fr 2.3fr 15fr;
    padding: 20px;
    gap: 10px;
}

.descripcion-producto {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.descripcion-producto div>h3 {
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-bottom: 0;

}

.agregar-producto-button_access {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-right: 20px;
}


.agregar-producto-button_access a {
    padding: 10px 30px;
    color: rgb(36, 36, 36);
    background-color: #A8D300;
    border-radius: 10px;
}

.agregar-producto-button_access a i {
    margin-left: 5px;
}

.agregar-producto-button_access span {
    margin: auto;
    color: black;
    font-size: 28px;
}



.filtrar-producto {
    background-color: white;
    border-radius: 7px;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-producto_filtrar p {
    margin-bottom: 7px;


}

.search-producto_filtrar input {
    background-color: rgb(214, 214, 214);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.categoria-producto_filtrar p {
    margin-bottom: 5px;
}

.marca-producto_filtrar p {
    margin-bottom: 5px;
}

.boton-productos_filtrar a {
    padding: 10px 40px;
    background-color: #7EB2FE;
    border-radius: 7px;
    color: black;
}

.dropdown {
    width: 250px;
}


#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.782);

}

#modal{
    width: 600px;
    border: none;
}

.formulario-agregar_producto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    gap: 10px;
}

#modal h3{
    font-size: 22px;
    margin: 15px 5px 10px 5px;
}

.formulario-agregar_producto div{
    background-color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column; 
    gap: 2px;
    padding: 5px;
}

.formulario-agregar_producto div input{
    padding: 10px;
    font-size: 18px;
    background-color: #dddddd;
    width: 100%;
    height: 80%;
    border: none;
    outline: #7b7b7b;
}

.formulario-agregar_producto div:last-child{
    grid-column: 1/3;
}

.formulario-agregar_producto textarea{
    height: 90%;
    padding: 10px;
    font-size: 18px;
    background-color: #dddddd;
    width: 100%;
    border: none;
    outline: #7b7b7b;
    
}

.formulario-agregar_producto div img{
    width: 100%;
}

.formulario-agregar_producto button{
    padding: 10px 50px;
    border-radius: 7px;
    background-color: #A8D300;
    margin: auto;
    border: none;
    transition: all 200ms ease;
}

.formulario-agregar_producto button:hover{
    background-color: #9abf07;
    box-shadow: 10px 18px 41px -20px rgba(0,0,0,0.48);
}








